@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

.computer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  height: auto;
  background: rgb(179, 179, 179);
  padding: 15px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 25px;
  font-family: "Comfortaa", cursive;
  border: 3px solid grey;
  box-shadow: 5px 10px rgb(71, 71, 71);
  transition: 0.4s;
}

.computer h3 {
  font-weight: bold;
}

.computer img {
  width: 50%;
  margin: 10px;
  padding-left: 25%;
  padding-right: 25%;
  background: rgb(231, 231, 231);
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.computer button {
  width: 80%;
  height: 25%;
  margin-top: 2.5%;
  border: 2px solid rgb(151, 151, 151);
  background: grey;
  font-family: "Comfortaa", cursive;
  font-weight: bolder;
  font-size: 25px;
  padding: 7px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  transition: 0.4s;
}

.computer button:hover {
  border: 2px solid rgb(151, 151, 151);
  background: rgb(71, 71, 71);
  color: white;
  cursor: pointer;
}

.in {
  color: green;
}

.out {
  color: red;
}
