* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%); */
  background-color: rgb(240, 240, 240);
}

.inventory {
  display: grid;
  padding-top: 1%;
}

@media screen and (min-width: 768px) {
  .inventory {
    grid-template-columns: repeat(3, 25rem);
    padding-top: 5%;
  }
}

.refresh-button {
  position: fixed;
  right: 0;
  width: 80px;
  filter: invert(15%) sepia(63%) saturate(0%) hue-rotate(170deg)
    brightness(101%) contrast(100%);
  transition: 0.4s;
}

.refresh-button:hover {
  cursor: pointer;
  filter: invert(88%) sepia(21%) saturate(1075%) hue-rotate(57deg)
    brightness(99%) contrast(93%);
}

.plus-button {
  position: fixed;
  right: 0;
  margin-top: 80px;
  width: 80px;
  filter: invert(15%) sepia(63%) saturate(0%) hue-rotate(170deg)
    brightness(101%) contrast(100%);
  transition: 0.4s;
}

.plus-button:hover {
  cursor: pointer;
  filter: invert(26%) sepia(40%) saturate(3419%) hue-rotate(340deg)
    brightness(119%) contrast(86%);
}
